<div class="container mt-5" *ngIf="state.state">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Şifre Güncelleme</h5>
              <div class="form-group">
                
                <input type="password" class="form-control" id="password" placeholder="Şifrenizi  giriniz" #txtPassword required>
                <input type="passwordConfirm" class="form-control mt-2" id="passwordConfirm" placeholder="Şifrenizi tekrar giriniz" #ConfirmtxtPassword required>
              </div>
              <div class="d-flex justify-content-end ">
              <button type="button" class="btn btn-primary mt-2  " (click)="updatePassword(txtPassword.value,ConfirmtxtPassword.value)">Şifreyi Güncelle</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="!state.state">
   Bu link kullanılamaktadır!
  </div>