@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');



.top {
	position: relative;
	height: 10px;
	background: linear-gradient(141deg, #00ffff 0%, rebeccapurple 40%, deeppink 90%);
}

