<div class="body">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <nav class="navbar navbar-expand-lg bg-transparent">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Learning Eticaret</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link btn btn-warning" aria-current="page" routerLink="">Anasayfa</a>
              </li>

              <li class="nav-item">
                <a class="nav-link btn btn-warning" routerLink="products">Ürünler</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-warning" routerLink="baskets">Sepet</a>
              </li>

              <li class="nav-item dropdown" *ngIf="!authService.isAuthenticate">
                <a
                  class="nav-link btn btn-secondary dropdown-toggle"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                Giriş Yap
                </a>

                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a class="nav-link btn btn-warning" routerLink="login" >Giriş Yap</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn btn-warning" routerLink="register" >Üye Ol</a>
                  </li>
                </ul>
              </li>

              <li class="nav-item">
                <a class="nav-link btn btn-warning" routerLink="admin" *ngIf="authService.isAuthenticate">Admin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-warning" (click)="signOut()" *ngIf="authService.isAuthenticate">Çıkış Yap</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-info text-center px-2 mx-1" type="submit">Ara</button>
            </form>
          </div>
        </div>
      </nav>
    </div>

    <div class="col-md-2"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-11">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <ngx-spinner size="medium" name="s1" type="ball-climbing-dot">
    <p>Loading...</p>
  </ngx-spinner>
  <ngx-spinner size="small" name="s2" type="pacman">
    <p>Loading...</p>
  </ngx-spinner>
  <ngx-spinner size="medium" name="s3" type="square-jelly-box">
    <p>Loading...</p>
  </ngx-spinner>
</div>
