.body {
    font-family: Arial, sans-serif;
    color: grey !important;
  }
  button {
    margin-right: 5px;
    background-color: #fafafa ;
    color: aqua;
    border: none ;
    border-radius: 50% ;
    padding: 5px !important;
    height: 40px;
    width: auto;
  }